
.meus-filmes{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meus-filmes h1{
    margin-bottom: 14px;
}

.meus-filmes span{
    font-size: 18px;
}

.meus-filmes ul{
    width: 520px;
}

.meus-filmes ul li{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-bottom: 14px;
}

.meus-filmes div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.meus-filmes div a{
    text-decoration: none;
    color: #116feb;
    margin-right: 14px;
}

.btn-voltar {
    position: fixed;
    bottom: 20px;
    left: 20px;
    
    padding: 15px 25px; /* Aumenta o tamanho interno */
    font-size: 20px; /* Aumenta o tamanho do texto */
    color: rgb(0, 0, 0); /* Cor do texto */
    cursor: pointer;
    }

@media (max-width: 768px) {
    .meus-filmes ul{
        width: 400px;
        font-size: 14px;
    }

    .meus-filmes span{
        font-size: 14px;
    }
}
